<div>
  <h2>Question Bank</h2>
</div>

<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Questions
      </th>
      <td mat-cell *matCellDef="let row">{{ row.question }}</td>
    </ng-container>
    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Domain
      </th>
      <td mat-cell *matCellDef="let row" appTestTitle>{{ row.domainId }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>

<div class="button-container">
  <button
    class="submit-button"
    [mat-dialog-close]="selection"
    (click)="closeDialog()"
    mat-raised-button
    color="primary"
  >
    Select
  </button>
</div>
